#### if-Else statement... helps us to make decision

In [1]:
max(2,3,4,5) < 100

True

In [2]:
len('hell0') > 3

True

In [3]:
9 >= 9

True

In [4]:
8 <= 8

True

In [5]:
8 >= 5

True

In [6]:
6 % 3 == 0

True

In [7]:
number = 10
if number < 20:
    print("the number ", number, 'is less than ', 20)

the number  10 is less than  20

In [8]:
number = 10
if(number) < 20:
    print("the number ", number, 'is less than ', 20)

the number  10 is less than  20

In [9]:
number = 10
if(number > 20):
    print("the number ", number, 'is greater than ', 20)
else:
    print("the number", number, 'is less than', 20)

the number 10 is less than 20

#### IF--ELIF or Else-if Statement
#### logical operators ... and, or, not

In [10]:
num1 = 34
if(num1 >= 0 and num1 < 50):
    print("the number is between 0 to 50")
elif( num1 >= 50 and num1 < 100):
     print("the number is between 50 to 100")
elif(num1 >= 100 and num1 < 200):
    print("the number is between 100 to 200")
else:
    print("the number is above 200 and so on")

the number is between 0 to 50

In [11]:
active = True
if(not active):
    print("the account is not active")
else:
    print("The account is active")

The account is active

In [12]:
if(num1 <= 50 or not active):
    print("one of the conditions has to be true")

one of the conditions has to be true

In [13]:
num = 8
if(num % 2 == 0):
    print("the number is even")
else:
    print("the number is odd")

the number is even

In [14]:
if( num != 8):
    print("the number is not equal to 8")
else:
    print("the number is equal to 8")

the number is equal to 8

#### in statement

In [15]:
student_list = ['usman', 'ali', 'haji', 'kaliya']
if( 'usman' in student_list):
    print("yes usman is a student")
else:
    print("no usman is not a student")

yes usman is a student

In [16]:
scores = {
    'usman': 300,
    'ali': 200,
    'haji': 400,
    'peeno': 600
}
if('ali' in scores):
    print("yes i do have scores of ali")
else:
    print("no i do not have scores of ali")

yes i do have scores of ali

#### Conversions

In [17]:
some_str = '123'
int_num = int(some_str)
int_num

123

In [18]:
float_num = float(some_str)
float_num

123.0

In [19]:
hex(56)

'0x38'

In [20]:
bin(20)

'0b10100'

In [21]:
oct(12)

'0o14'

#### the tuple function takes a string and converts it to tuple..

In [22]:
tuple('Hello')

('H', 'e', 'l', 'l', 'o')

In [23]:
list('Hello')

['H', 'e', 'l', 'l', 'o']

#### list into tuple

In [24]:
tuple([1,2,3,4,5])

(1, 2, 3, 4, 5)

In [36]:
tuple(list('hello'))

('h', 'e', 'l', 'l', 'o')

#### set data structure or function..
#### set removes all duplicates from any list

In [26]:
set('Hello')

{'H', 'e', 'l', 'o'}

In [27]:
int_to_str = str(12345)
int_to_str

'12345'

In [28]:
tuple_of_tuple = (('a',1), ('b',2), ('c',3))
dictionary = dict(tuple_of_tuple)
dictionary

{'a': 1, 'b': 2, 'c': 3}

In [29]:
dictionary['a']

1

In [30]:
 type(dictionary)

dict

#### nested if

In [37]:
grade1 = float(input("Enter the first grade"))
grade2 = float(input("Enter the second grade"))
absences = int(input("enter the number of absences"))
total_classes = int(input("enter the total number of classes "))
avg_grade = (grade1 + grade2) / 2
attendance = (total_classes - absences) / total_classes

print('Average Grade: ', round(avg_grade,2))
print('Attendance rate: ', str(round((attendance * 100),2))+ '%')

if(avg_grade >= 6):
    if(attendance >= 0.8):
        #### if both are true grade is > 6  and attendance > 80% than this will print
        print("the student has been approved or passed")
        
        #### this else will print when the avg grade is > 6 but the attendance is < 80%..inner if
    else:
        print("the student has failed due to attendance rate lower than 80% ")
        #### this elif is part of outer if ..if we get here ..the elif part it means that grade is lower than 6..
        # if first if gets failed..first condition gets failed..here we just have to check the attendance
elif(attendance >= 0.8):
    print("the student has failed due to average grade lower than 6.0")
else:
    ## if we get to this point it means that the grade is less than 6..and attendance rate ..tested or checked in elif 
     # part is also lower than 80%..than this print statement will get executed..this else is part of elif..
    
    print("the student has failed due to average grade lower than 6.0 and attendance rate lower than 80%")

Enter the first grade3
Enter the second grade3
enter the number of absences3
enter the total number of classes 13
Average Grade:  3.0
Attendance rate:  76.92%
the student has failed due to average grade lower than 6.0 and attendance rate lower than 80%

#### AND OR operator...

In [55]:
grade1 = float(input("Enter the first grade: "))
grade2 = float(input("Enter the second grade: "))
absences = int(input("enter the number of absences: "))
total_classes = int(input("enter the total number of classes: "))
avg_grade = (grade1 + grade2) / 2
attendance = (total_classes - absences) / total_classes

print('Average Grade: ', round(avg_grade,2))
print('Attendance rate: ', str(round((attendance * 100),2))+ '%')

if(avg_grade >= 6 and attendance >= 0.8 ):
        print("the student has been approved or passed")   
elif(avg_grade < 6 and attendance < 0.8):
        print("the student has failed due to average grade lower than 6.0 and attendance rate lower than 80%")
elif(attendance >= 0.8):
        print("the student has failed due to average grade lower than 6.0")
else:
        print("the student has failed due to attendance rate lower than 80% ")

Enter the first grade: 2
Enter the second grade: 3
enter the number of absences: 12
enter the total number of classes: 25
Average Grade:  2.5
Attendance rate:  52.0%
the student has failed due to average grade lower than 6.0 and attendance rate lower than 80%

In [53]:
print("This program calculates your body mass index ")

weight = float(input("please enter your weight in KG ex(70.5) "))
height = float(input("please enter your height in Meters ex(1.20) " ))
bmi = weight / (height ** 2)
print("Your BMI('Body Mass Index') is = ", round(bmi,2))

if(bmi <= 18.5):
    print("You are Underweight")
elif(bmi > 18.5 and bmi <= 24.9):
    print("You have normal weight")
elif(bmi > 24.9 and bmi <= 29.9):
    print("You are overweight")
elif(bmi >= 30):
    print("Obesity")

This program calculates your body mass index
please enter your weight in KG ex(70.5) 11
please enter your height in Meters ex(1.20)2.3
Your BMI('Body Mass Index') is =  2.08
You are Underweight