#### lists are ordered collections
#### complex data types are lists tuples and dictionaries.....lists are mutable.....strings are immutable

In [1]:
int_list = [2,3,4,5,6,7,8,9]
int_list

[2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
float_list = [2.3,3.4,4.5,5.6,6.7]
float_list

[2.3, 3.4, 4.5, 5.6, 6.7]

In [3]:
string_list = ["usman", "ali", "rana", "salman"]
string_list

['usman', 'ali', 'rana', 'salman']

In [4]:
students = ['usman', 'ali']
students.pop(1)

'ali'

In [5]:
students

['usman']

In [6]:
mixed_list = [1, 2.5, 'usman', False]
mixed_list

[1, 2.5, 'usman', False]

#### two ways to setup an empty list, second one is much common

In [7]:
some_list = list()
other_list = []

In [8]:
some_list

[]

In [9]:
other_list

[]

#### access individual elements within list

In [10]:
students = ['usman', 'mirza', 'rana', 'ali', 'salman']

In [11]:
students[0]

'usman'

In [12]:
students[2]

'rana'

In [13]:
len(students)

5

In [14]:
students

['usman', 'mirza', 'rana', 'ali', 'salman']

#### update indiviual elements

In [15]:
students[2] = 'anwar'

In [16]:
students[2]

'anwar'

In [17]:
students

['usman', 'mirza', 'anwar', 'ali', 'salman']

#### append function to add new value in list, new value will be added to the last

In [18]:
students.append('juja')

In [19]:
students

['usman', 'mirza', 'anwar', 'ali', 'salman', 'juja']

In [20]:
students.append('kaliya')

In [21]:
students

['usman', 'mirza', 'anwar', 'ali', 'salman', 'juja', 'kaliya']

In [22]:
len(students)

7

#### insert an element or value at a particular index...by specifying the index

In [23]:
students.insert(2, 'rana')
students

['usman', 'mirza', 'rana', 'anwar', 'ali', 'salman', 'juja', 'kaliya']

In [24]:
students.insert(0, 'Usman Ali')
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'juja',
 'kaliya']

In [25]:
len(students)

9

In [26]:
other_students = ['parveen', 'nasreen', 'cheda', 'peeno']
other_students

['parveen', 'nasreen', 'cheda', 'peeno']

#### concatination of lists

In [27]:
all_students = students + other_students
all_students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'juja',
 'kaliya',
 'parveen',
 'nasreen',
 'cheda',
 'peeno']

#### add more then one values in one go at the end of list,..  extend function

In [28]:
students.extend(['neeno', 'alo', 'kharboza'])
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'juja',
 'kaliya',
 'neeno',
 'alo',
 'kharboza']

In [29]:
other_students += ['gobi', 'tmator', 'raju']
other_students

['parveen', 'nasreen', 'cheda', 'peeno', 'gobi', 'tmator', 'raju']

#### find index of an element

In [30]:
other_students.index('gobi')

4

#### remove an element from list

In [31]:
other_students.remove('raju')

In [32]:
other_students

['parveen', 'nasreen', 'cheda', 'peeno', 'gobi', 'tmator']

#### sort function, reverse function...default ascending order

In [33]:
other_students.sort()
other_students

['cheda', 'gobi', 'nasreen', 'parveen', 'peeno', 'tmator']

In [34]:
other_students.reverse()
other_students

['tmator', 'peeno', 'parveen', 'nasreen', 'gobi', 'cheda']

#### remove last element of the list

In [35]:
other_students.pop()
other_students

['tmator', 'peeno', 'parveen', 'nasreen', 'gobi']

#### list slicing,..if you want first two elements or just last five elements or every second element we will use list slicing

In [36]:
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'juja',
 'kaliya',
 'neeno',
 'alo',
 'kharboza']

In [37]:
other_students

['tmator', 'peeno', 'parveen', 'nasreen', 'gobi']

In [38]:
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'juja',
 'kaliya',
 'neeno',
 'alo',
 'kharboza']

In [39]:
students.remove('kharboza')

In [40]:
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'juja',
 'kaliya',
 'neeno',
 'alo']

In [41]:
students.pop()
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'juja',
 'kaliya',
 'neeno']

In [42]:
students.remove('juja')

In [43]:
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'neeno']

#### -1 to count from the last element

In [44]:
students[-1]

'neeno'

In [45]:
students[-2]

'kaliya'

In [46]:
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'neeno']

#### to access a range of element within list,..the index 2 will not show..start index is inclusive and last index is exclusive,..if start index is not included..than it is assumed as start index

In [47]:
students[0:2]

['Usman Ali', 'usman']

In [48]:
students[2:5]

['mirza', 'rana', 'anwar']

In [49]:
students[:4]

['Usman Ali', 'usman', 'mirza', 'rana']

In [50]:
students[2:]

['mirza', 'rana', 'anwar', 'ali', 'salman', 'kaliya', 'neeno']

In [51]:
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'neeno']

In [52]:
students[:-2]

['Usman Ali', 'usman', 'mirza', 'rana', 'anwar', 'ali', 'salman']

In [53]:
students[:-3]

['Usman Ali', 'usman', 'mirza', 'rana', 'anwar', 'ali']

In [54]:
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'neeno']

In [55]:
students[2:-2]

['mirza', 'rana', 'anwar', 'ali', 'salman']

In [56]:
students[2:4]

['mirza', 'rana']

In [57]:
students[-3]

'salman'

In [58]:
students[-4:-2]

['ali', 'salman']

#### replace a range of elements

In [59]:
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'neeno']

In [60]:
students[-1:-3] = ['hero', 'zero']
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'hero',
 'zero',
 'neeno']

In [61]:
students

['Usman Ali',
 'usman',
 'mirza',
 'rana',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'hero',
 'zero',
 'neeno']

In [62]:
students[2:4] = ['kaka', 'kaki']
students

['Usman Ali',
 'usman',
 'kaka',
 'kaki',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'hero',
 'zero',
 'neeno']

In [63]:
students

['Usman Ali',
 'usman',
 'kaka',
 'kaki',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'hero',
 'zero',
 'neeno']

In [64]:
students.pop()
students

['Usman Ali',
 'usman',
 'kaka',
 'kaki',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'hero',
 'zero']

In [65]:
students

['Usman Ali',
 'usman',
 'kaka',
 'kaki',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'hero',
 'zero']

In [66]:
students.pop()
students

['Usman Ali',
 'usman',
 'kaka',
 'kaki',
 'anwar',
 'ali',
 'salman',
 'kaliya',
 'hero']

In [67]:
students.remove('hero')
students

['Usman Ali', 'usman', 'kaka', 'kaki', 'anwar', 'ali', 'salman', 'kaliya']

#### a list can be made up of a list which is called a matrix

In [68]:
matrix = [[2,3,4,5], [6,7,8,9]]
matrix

[[2, 3, 4, 5], [6, 7, 8, 9]]

#### to access a single element within this matrix multi dimentional lsit...first index for row and second index for column..0 means first row

In [69]:
matrix[0][0]

2

In [70]:
matrix[0][1]

3

In [71]:
matrix[1][0]

6

In [72]:
matrix[1][3]

9

#### length of outer list

In [73]:
len(matrix)

2

In [74]:
len(matrix[0])

4

In [75]:
len(matrix[1])

4

#### changes in one list appears in the second list the copied list

In [76]:
students_copy = students
students_copy

['Usman Ali', 'usman', 'kaka', 'kaki', 'anwar', 'ali', 'salman', 'kaliya']

In [77]:
students.remove('ali')
students

['Usman Ali', 'usman', 'kaka', 'kaki', 'anwar', 'salman', 'kaliya']

In [78]:
students_copy

['Usman Ali', 'usman', 'kaka', 'kaki', 'anwar', 'salman', 'kaliya']

In [79]:
students_copy.remove('Usman Ali')
students_copy

['usman', 'kaka', 'kaki', 'anwar', 'salman', 'kaliya']

In [80]:
students

['usman', 'kaka', 'kaki', 'anwar', 'salman', 'kaliya']

In [81]:
int_list

[2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
sum(int_list)

44

In [83]:
int_list += [23,1,10,13,190]
int_list

[2, 3, 4, 5, 6, 7, 8, 9, 23, 1, 10, 13, 190]

In [84]:
sorted_list = sorted(int_list)
sorted_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 13, 23, 190]

In [85]:
int_list

[2, 3, 4, 5, 6, 7, 8, 9, 23, 1, 10, 13, 190]

### Strings as lists ..strings in python are immutable..
##### once a string value has been assigned  you cannot edit that string..so this type of assignment is type error..bcz string object cannot be edited

In [86]:
order = input("what would you order today? ")
order

what would you order today? rice

'rice'

In [87]:
order[0]

'r'

In [88]:
type(order)

str

In [89]:
order

'rice'

In [90]:
order[2]

'c'

In [91]:
order[:3]

'ric'

In [92]:
order[:4]

'rice'

In [93]:
order[:-1]

'ric'

In [94]:
id_ = "usman" + str(123)
id_

'usman123'

In [95]:
first_name = input("Enter your first name ")
middle_name = input("Enter your middle name ")
last_name = input("Enter your last name ")
print("your first name is: ", first_name)
print("your  middle name is: ", middle_name)
print("your last name is: ", last_name)

Enter your first name Muhammad
Enter your middle name Usman
Enter your last name Ali
your first name is:  Muhammad
your  middle name is:  Usman
your last name is:  Ali

In [96]:
lot_number = "037-00901-00027"
country_code = lot_number[0:3]
product_code = lot_number[4:9]
batch_number = lot_number[-5:]
print("country code is: ",country_code)
print("product code is: ",product_code)
print("batch number is: ",batch_number)

country code is:  037
product code is:  00901
batch number is:  00027

In [97]:
len(lot_number)

15

### step function..start from index 0 and go op to index 4..and step size is 1
#### step size means that when we go from start to the end ..we want to increment our step by 1..means we do not want to skip any of the elements

In [98]:
order[0::1]

'rice'

In [99]:
order[0:4:2]

'rc'

In [100]:
order[::1]

'rice'

In [101]:
order[::2]

'rc'

In [102]:
order[::-1]

'ecir'

In [103]:
order[::-1]

'ecir'

In [104]:
len(order)

4

In [105]:
order.index('e')

3

#### count() to calculate how many times a characrter appears

In [106]:
order.count('i')

1

In [107]:
upper = order.upper()
upper

'RICE'

In [108]:
lower = order.lower()
lower

'rice'

In [109]:
order

'rice'

In [110]:
upper

'RICE'

In [111]:
print(order.startswith('r'))

True

In [112]:
print(order.endswith('f'))

False

#### split function..it takes that string and returns a list of strings...strng.split() will give the individual words from the string

In [113]:
string = ['pakistan zindabad']
string

['pakistan zindabad']

In [114]:
tokens = string.split(' ')
tokens

AttributeError: 'list' object has no attribute 'split'

In [ ]:
type(string)

In [ ]:
type(order)

In [ ]:
strng = input('please enter a list ')
strng

In [ ]:
type(strng)

In [ ]:
tokens = strng.split(' ')
tokens

#### csv files

In [115]:
line_in_csv = "ali,3,4,5,6,7"
csv_tokens = line_in_csv.split(',')
csv_tokens

['ali', '3', '4', '5', '6', '7']

In [116]:
line_in_csv

'ali,3,4,5,6,7'

In [117]:
separator = ':'
separator.join(csv_tokens)

'ali:3:4:5:6:7'

### Tuples.. ordered collections..any kind of element
#### tuples are made up of fields.. my_tuple is a variable that holds a tuple with two fields..first field is the name usman and second field is the score 90...use round brackets to define tuples
#### tuples are immutable..cant modify...immutable list
### tuples represent records

In [118]:
my_tuple = ('usman', 90)
my_tuple

('usman', 90)

In [119]:
my_tuple[0]

'usman'

In [120]:
my_tuple[1]

90

In [121]:
my_tuple[0] = 'ali'

TypeError: 'tuple' object does not support item assignment

In [122]:
type(my_tuple)

tuple

In [123]:
my_tuple

('usman', 90)

In [124]:
name, score = my_tuple

In [125]:
name

'usman'

In [126]:
score

90

In [127]:
tuple_with_many_fields = (1, 'usman', 'ramzan', '200', 22)
tuple_with_many_fields

(1, 'usman', 'ramzan', '200', 22)

In [128]:
Id, Name, FatherName, Marks, Age = tuple_with_many_fields

In [129]:
Age

22

In [130]:
Marks

'200'

In [131]:
Id

1

In [132]:
number_tuple = (2,3,4,20,18,5,6,10)

In [133]:
number_tuple[0:4]

(2, 3, 4, 20)

In [134]:
number_tuple[::-1]

(10, 6, 5, 18, 20, 4, 3, 2)

In [135]:
number_tuple

(2, 3, 4, 20, 18, 5, 6, 10)

In [136]:
number_tuple.index(3)

1

In [137]:
number_tuple[2:-1]

(4, 20, 18, 5, 6)

In [138]:
string_tuple = ('usman', 'ali')
concatenation = number_tuple + string_tuple

In [139]:
concatenation

(2, 3, 4, 20, 18, 5, 6, 10, 'usman', 'ali')

In [140]:
print(('hello ') * 4)

hello hello hello hello

In [141]:
some_list = ['A','B','C']
some_tuple = tuple(some_list)

In [142]:
some_tuple

('A', 'B', 'C')

In [143]:
some_list

['A', 'B', 'C']

In [144]:
type(some_tuple)

tuple

In [145]:
some_tuple

('A', 'B', 'C')

### Dictionaries.....map keys to values...Not Ordered
##### complex data type..useful to store recods..better than tuples.....can hold any kind of information..an unordered complex data type
##### dictionaries holds key value pairs.
##### every value is associated with the corresponding key
##### left side values are keys...right side are values....usman:ali is a key value pair  .....
##### keys should be immutable..can be a number string boolean or tuple..tuples are immutable
##### mutable values cannot be keys..such as lists

In [146]:
empty_dic = {}

In [147]:
couples = {
    'usman': 'ali',
    'mirza': 'arslan',
    'salman': 'ansari',
    'imran': 'khan'
}

In [148]:
couples['usman']

'ali'

In [149]:
couples['rana'] = 'vikram'
couples

{'usman': 'ali',
 'mirza': 'arslan',
 'salman': 'ansari',
 'imran': 'khan',
 'rana': 'vikram'}

In [150]:
type(couples)

dict

In [151]:
couples['imran']

'khan'

In [152]:
couples['usman'] = 'ansari'

In [153]:
couples

{'usman': 'ansari',
 'mirza': 'arslan',
 'salman': 'ansari',
 'imran': 'khan',
 'rana': 'vikram'}

In [154]:
marks = {
    'usman': 10,
    'ali': 20,
    'peeno': 30,
    'kaliya': 40
}

In [155]:
marks['peeno']

30

In [156]:
marks['special_students'] = ['juja', 'moli']
marks

{'usman': 10,
 'ali': 20,
 'peeno': 30,
 'kaliya': 40,
 'special_students': ['juja', 'moli']}

In [157]:
marks['special_students'].append('kalo')
marks

{'usman': 10,
 'ali': 20,
 'peeno': 30,
 'kaliya': 40,
 'special_students': ['juja', 'moli', 'kalo']}

In [158]:
marks.get('age', 'invalid value')

'invalid value'

In [159]:
marks.get('kaliya', 'invalid property')

40

In [160]:
person = {
    'name': 'usman',
    'age': 22,
    'father_name': 'Muhammad Ramzan',
    'phone': 1234567,
    'gender': 'Male',
    
}
key = input('What information you want to see? ').lower()
result = person.get(key, 'That information is not available...')
print(result)

What information you want to see? phone
1234567

In [161]:
Key = 'kaliya'
marks[Key]

40

#### to access only the keys and values

In [162]:
marks.keys()

dict_keys(['usman', 'ali', 'peeno', 'kaliya', 'special_students'])

In [163]:
marks.values()

dict_values([10, 20, 30, 40, ['juja', 'moli', 'kalo']])

In [164]:
student_details = {
    'name': 'usman',
    'age': '22',
    'phone': 123456789,
    'marks': 999
}

In [165]:
student_details

{'name': 'usman', 'age': '22', 'phone': 123456789, 'marks': 999}

In [166]:
student_details.keys()

dict_keys(['name', 'age', 'phone', 'marks'])

In [167]:
len(student_details.keys())

4

In [168]:
len(student_details)

4

In [169]:
student_details.values()

dict_values(['usman', '22', 123456789, 999])

In [170]:
len(student_details.values())

4

In [171]:
all_marks = {
    'usman': [44,55,66],
    'ali': [11,22,33],
    'ansari': [32,43,65]
}

In [172]:
all_marks['usman']

[44, 55, 66]

In [173]:
all_marks.values()

dict_values([[44, 55, 66], [11, 22, 33], [32, 43, 65]])

#### to access a particular value at particular index...or to update a value at particular index
#### first the name than the index

In [174]:
all_marks['ali'][0]

11

In [175]:
all_marks['ali'][0] = 111

In [176]:
all_marks

{'usman': [44, 55, 66], 'ali': [111, 22, 33], 'ansari': [32, 43, 65]}

In [177]:
all_marks['ali'][0]

111

#### if we store students marks in the form of list..it is little hard to work with..instead of using a list..you should use a dictionary

In [178]:
all_scores = {
    'usman': {'math': 33, 'eng': 43, 'physics': 90},
    'rana': {'math': 34, 'eng': 44, 'physics': 99},
    'shaka': {'math': 23, 'eng': 11, 'physics': 12}
}

In [179]:
all_scores.values()

dict_values([{'math': 33, 'eng': 43, 'physics': 90}, {'math': 34, 'eng': 44, 'physics': 99}, {'math': 23, 'eng': 11, 'physics': 12}])

In [180]:
all_scores['usman']

{'math': 33, 'eng': 43, 'physics': 90}

In [181]:
all_scores.keys()

dict_keys(['usman', 'rana', 'shaka'])

In [182]:
type(all_scores)

dict

In [183]:
all_scores['usman']['math']

33

In [184]:
all_scores['shaka']['physics']

12

In [185]:
all_scores['shaka']['physics'] = 434

In [186]:
all_scores['shaka']['physics']

434

In [187]:
all_scores2 = {
    123: {'math': 33, 'eng': 43, 'physics': 90},
    345: {'math': 34, 'eng': 44, 'physics': 99},
    555: {'math': 23, 'eng': 11, 'physics': 12}
}

In [188]:
all_scores2.keys()

dict_keys([123, 345, 555])

In [189]:
all_scores2[123]

{'math': 33, 'eng': 43, 'physics': 90}

In [190]:
all_scores3 = {
    (123): {'math': 33, 'eng': 43, 'physics': 90},
    (345): {'math': 34, 'eng': 44, 'physics': 99},
    (555): {'math': 23, 'eng': 11, 'physics': 12}
}

In [191]:
all_scores3[(123)]['math']

33

In [192]:
all_scores3[(123)]['math'] = 121

In [193]:
all_scores3[(123)]

{'math': 121, 'eng': 43, 'physics': 90}

In [194]:
all_scores3.keys()

dict_keys([123, 345, 555])

In [195]:
all_scores3.values()

dict_values([{'math': 121, 'eng': 43, 'physics': 90}, {'math': 34, 'eng': 44, 'physics': 99}, {'math': 23, 'eng': 11, 'physics': 12}])

#### lists cannot be set as keys..and dictionaries also

In [196]:
all_scores4 = {
    [123]: {'math': 33, 'eng': 43, 'physics': 90},
    [345]: {'math': 34, 'eng': 44, 'physics': 99},
    [555]: {'math': 23, 'eng': 11, 'physics': 12}
}

TypeError: unhashable type: 'list'

In [197]:
student_details

{'name': 'usman', 'age': '22', 'phone': 123456789, 'marks': 999}

#### copy function

In [198]:
student_details_copy = student_details.copy()

In [199]:
student_details_copy['name']

'usman'

In [200]:
student_details_copy['name'] = 'ali'

In [201]:
student_details_copy

{'name': 'ali', 'age': '22', 'phone': 123456789, 'marks': 999}

In [202]:
student_details

{'name': 'usman', 'age': '22', 'phone': 123456789, 'marks': 999}

#### clear function to clear the dictionary

In [203]:
student_details_copy.clear()

In [204]:
student_details_copy

{}

#### items function..result is a list of tuples

In [205]:
student_details.items()

dict_items([('name', 'usman'), ('age', '22'), ('phone', 123456789), ('marks', 999)])

#### get function

In [206]:
student_details.get('name')

'usman'

#### pop function...to remove a key

In [207]:
student_details

{'name': 'usman', 'age': '22', 'phone': 123456789, 'marks': 999}

In [208]:
student_details.pop('mobile number')

KeyError: 'mobile number'

In [209]:
student_details

{'name': 'usman', 'age': '22', 'phone': 123456789, 'marks': 999}

#### randomnly remove a key value pair

In [210]:
student_details.popitem()
student_details

{'name': 'usman', 'age': '22', 'phone': 123456789}

In [211]:
student_details

{'name': 'usman', 'age': '22', 'phone': 123456789}

In [212]:
student_details.pop('age')
student_details

{'name': 'usman', 'phone': 123456789}

In [213]:
student_details

{'name': 'usman', 'phone': 123456789}

#### Number data type..two data types to represent numbers..float and integer

In [214]:

round(2.875347,3)

2.875

#### math module

In [215]:
import math
math.factorial(5)

120

In [216]:
math.ceil(2.3)

3

In [217]:
math.floor(2.9)

2

In [218]:
math.log(10)

2.302585092994046

In [219]:
math.pi

3.141592653589793

In [221]:
radius = float(input("please enter the radius: "))
pi = math.pi
area = pi * (radius**2)
print("area is = ", round(area,3))
circumference = 2 * pi * radius
print("circumference is = ", round(circumference,3))

please enter the radius: 20
area is =  1256.637
circumference is =  125.664

#### lists and tuples exercise

In [222]:
names = ['usman', 'ali', 'ansari']
your_name = input("please enter your name: ")
names.append(your_name)
names

please enter your name: Ali

['usman', 'ali', 'ansari', 'Ali']

In [223]:
months = ('January', 'February', 'March', 'April', 'May', 'June', 'July','August', 'September', 'October', 'November', 'December')
birthday = input("please type your birthday in the format DD-MM-YYYY: ")
index = int(birthday[3:5]) -1

bd_month = months[index]
print("You were born in: ", bd_month)

please type your birthday in the format DD-MM-YYYY: 11-12-1997
You were born in:  December

#### Booleans

In [224]:
myBoolean = True
type(myBoolean)

bool

In [225]:
myBoolean = False

In [226]:
num1 = 8
num2 = 10
num1 > num2

False

In [227]:
num2 > num1

True

In [228]:
num1 == num2

False

In [229]:
num1 <= num2

True

In [230]:
num1 != num2

True

In [231]:
num1 = float(input("enter first value "))
num2 = float(input("enter second value "))
if(num1 > num2):
    print(num1, 'is greater than ', num2)
elif(num1 == num2):
         print(num1, 'is equal to', num2)
else:
     print(num1, 'is less than ', num2)

enter first value

ValueError: could not convert string to float:

In [233]:
myAge = 22
userAge = float(input("enter your age "))
if(userAge > myAge):
    print("He is older than you ")
elif(userAge < myAge):
        print("He is younger than you ")
else:
        print("You two have the same age ")

enter your age 22
You two have the same age

alnaln